
.navbar {
    display: flex;
    justify-content:space-around;
    background-image: url(img/metal.jpeg);
    font-size: 1vw;
    color: ghostwhite;
    flex-wrap: wrap;
    text-align:justify;
}
a  {  
    text-decoration: none;
    color:black;
    font-size: 3vh;
    }
.trailer {
    padding: 5vh;
    text-align: center;
    margin-top: 40rem;
    }
.videos {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    min-width: 10vw
    }
.screening {
    justify-content: space-around;
    margin-top: 50rem;
    font-size: 3rem;
    display: flex;
    color: black;
    background-color: aliceblue;
}
.link {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    background-color: yellow;
    min-width: none;
    height: 100%;

}
body {
    background-image: url(img/poster.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    background-attachment:local;
}

/*.slide {
    display: flex;
    width: 100%;
    animation: slide 10s infinite;
}
@keyframes slide{
    0% {margin-left: -100%;}
    33%{margin-left: -100%;}
    66%{margin-left: -200%;}
    100%{margin-left: 0;}
}*/
body {
  font-family: russo one, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.casts {
    display: flex;
    justify-content: space-around;
    margin-top: 50rem;
    font-size: 5rem;
    color:beige;
    background-color: black;
}
html {
    scroll-behavior: smooth;
}
p {
    font-size: 10vw;
}
.swiper {
    width: 80%;
    height: fit-content;
}
.slides {
    display: flex;
    justify-content: center;
    gap: 3vh;
}
.slides img {
    height: 25vh;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cast {
    box-sizing: border-box;
}.swiper2 {
    width: 100%;
    height: 50rem;
    background: none;
    display: flex;
    justify-content: space-around;
    
}
.swiper {
    display: flex;
    justify-content: space-around;
}
.reviews {
    padding: 0rem;
    justify-content: space-around;
}
.review {
        margin-top: 20rem;
        display: flex;
}
@media screen and (max-width: 767px){
    .navbar a{
        font-size: 1.5rem;
    }
    .trailer {
    padding: 1vh;
    text-align: center;
    margin-top: 4rem;
    }
    .link {
        height: 5vh;
    }
    .casts {
        font-size: 3vh;
    }
    .review img{
        height: 5rem;
    }
    .slides img{
        height: 8vh;
        padding-left: 1%;
    }
}